body{
  margin: 0;
  padding: 0;
}
.accueil{
  margin: 0;
  background-image: url(../image/backgroundmario.jpg);
  height: 640px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

}
.choixperso{
  display: flex;
  flex-direction: row;
}
.perso1{
  height: 600px;
  background-image: url(../image/perso1.jpg);
  background-size: cover;
}
.perso2{
  height: 600px;
  background-image: url(../image/perso2.jpg);
    background-size: cover;
}
.choix1{
  height: 600px;
  width: 50%;
}
.choix2{
  height: 600px;
  width: 50%;
}

.monde{
  height: 644px;
  width: 100%;
  background-image: url(../image/mapMario.gif);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.monde p{
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.persoJoueur{
  height: 40px;
  width: 40px;
  background-size: cover;
  top: 550px;
  left: 250px;
  position: absolute;
  z-index: 10;
}

.monde1{
  height: 80px;
  width: 80px;
  background-image: url(../image/level.png);
  background-size: cover;
  position: absolute;
  top: 400px;
  left: 460px;
}
.monde2{
  height: 80px;
  width: 80px;
  background-image: url(../image/level.png);
    background-size: cover;
    position: absolute;
    top: 80px;
    left: 870px;
}
.monde3{
  height: 100px;
  width: 100px;
  background-image: url(../image/levelFIN.PNG);
  background-size: cover;
  position: absolute;
  top: 530px;
  left: 870px;
}
